{% extends "admin/layout.html" %}
{% block title%} Users products {% endblock %}
{% block main %}
<div class="main" id="main">
    <div class="container_users">
        <form id="user_select" method="POST" action="users" enctype="multipart/form-data">
            <select id="users" name="users">
                <!-- <option id="def" value="def" selected disabled hidden>Choose here</option> -->
                {% for user in users%}
                    <option id="{{user}}" value="{{user}}">{{user}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div id="container_item">
        <div class="items" id="items">
            {% for i in items_name%}
            <div class="item">
                <div class="grid-container">
                    <div> <img class="item_img" src="/static/{{img_link[loop.index0]}}" width="50" height="50"/> </div>
                    <div class="item_info1">{{i}}</div>
                    <div class="item_info2">{{date[loop.index0]}}</div>
                    <div class="item_info3">{{qty[loop.index0]}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        selected_user = sessionStorage.getItem("user_selected_id")
        document.getElementById(selected_user).selected = "selected";
        document.getElementById("users").value = selected_user;
       
        setInterval(function() {func()}, 2000);

        function func() {
            var user = document.getElementById("users").value;
            var previous_user = sessionStorage.getItem("user_selected_id");

            // document.getElementById(selected_user).selected = "selected";
            // document.getElementById("users").value = selected_user;
           
            if (user !== previous_user) {
                // document.getElementById(prev_value).selected = "";
                sessionStorage.setItem('user_selected_id', user);
                
                var form = $("#user_select");
                
                // $(document).ready( function() {
                // form.submit(function(event){
                //     // event.preventDefault();
                //     $.ajax({
                //         url: '/users',
                //         type: 'post',
                //         dataType: 'html',
                //         data: form.serialize(),
                //         success: function(response){
                //             console.log("Success");
                //             $('#container_item').html(response);   //select the id and put the response in the html
                //         }
                // });
                // });});

                document.getElementById("user_select").submit();
            }
        }
    </script>
{% endblock %}