<!DOCTYPE html>
<html>
    <body>
        <div>
            <h1> Enter your id</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="text" name="id_field" value="">
                <input type="submit" name="Login" value="log">
            </form>
        </div>
        <p> {{text_info}} </p>
        <div>
            <form action="register">
                <input type="submit" name="Register" value="register">
            </form>
        </div>
    </body>
</html>